/**
 * Importing fonts.
 */
@font-face {
  font-family: UbuntuFont;
  font-weight: 500;
  src: url( '../fonts/Ubuntu-Medium.ttf' );
}

canvas,
button,
html,
body,
span,
div,
p,
:focus {
  -webkit-tap-highlight-color: transparent;
  -webkit-focus-ring-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

canvas,
html,
body {
  margin: 0;
}

/**
 * 1. Remove scroll and "pull-down-to-refresh".
 */
html,
body {
  padding: 0;
  overflow: hidden; /* 1 */
}

/**
 * Several canvases will be used.
 */
canvas,
div {
  top: 0;
  left: 0;
}

#restart,
canvas,
div,
p {
  position: fixed;
}

div {
  background: transparent;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: none;
}

div.active {
  -webkit-animation: level-overlay 1s linear;
          animation: level-overlay 1s linear;
  display: initial;
}

p {
  color: #fff;
  top: 50%;
  left: 100%;
  white-space: nowrap;
  font: 500 48px UbuntuFont, sans-serif;
}

div.active p {
  -webkit-transform: translate( -50%, -50% );
      -ms-transform: translate( -50%, -50% );
          transform: translate( -50%, -50% );
  -webkit-animation: level 1s linear;
          animation: level 1s linear;
}

::-moz-focus-inner {
  border: none;
  outline: none;
}

button {
  font: 500 18px UbuntuFont, sans-serif;
  -webkit-transition-timing-function: ease-in-out;
       -o-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-property: background, color;
       -o-transition-property: background, color;
          transition-property: background, color;
  -webkit-transition-duration: 25ms;
       -o-transition-duration: 25ms;
          transition-duration: 25ms;
  background: transparent;
  border-radius: 2px;
  min-width: 88px;
  outline: none;
  border: none;
}

button.active {
  -webkit-transition-duration: 50ms;
       -o-transition-duration: 50ms;
          transition-duration: 50ms;
  background: rgba( 255, 255, 255, 0.3 );
}

#restart {
  top: 24px;
  left: 24px;
  z-index: 1;
  height: 64px;
  padding: 0 32px;
  color: rgba( 255, 255, 255, 0.7 );
}

#restart.active {
  color: #fff;
}

@-webkit-keyframes level-overlay {
  0% {
    background: transparent;
  }

  20% {
    background: rgba( 0, 0, 0, 0.75 );
  }

  80% {
    background: rgba( 0, 0, 0, 0.75 );
  }

  100% {
    background: transparent;
  }
}

@keyframes level-overlay {
  0% {
    background: transparent;
  }

  20% {
    background: rgba( 0, 0, 0, 0.75 );
  }

  80% {
    background: rgba( 0, 0, 0, 0.75 );
  }

  100% {
    background: transparent;
  }
}

@-webkit-keyframes level {
  0% {
    left: -10%;
  }

  20% {
    left: 40%;
  }

  80% {
    left: 60%;
  }

  100% {
    left: 110%;
  }
}

@keyframes level {
  0% {
    left: -10%;
  }

  20% {
    left: 40%;
  }

  80% {
    left: 60%;
  }

  100% {
    left: 110%;
  }
}
